html,body{
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(203, 203, 203);
}
.wholeContainer{
  display: flex;
  gap:40px;
}
.leftSide{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  justify-content: center;
}
#button1,#button2,#button3,#button4{
  height: 50px;
  width: 150px;
}
#container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.rowGrid{
flex: 1;
display: flex;
}
.cell{
  border: 1px solid black;
  display: inline-flex;
  flex: 1;
}
.sliderContent{
  display: flex;
}
.footer{
  display: flex;
  justify-content: center;
}
.footer1{
  position: absolute;
  padding: 5px;
  bottom: 0;
  color:black;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  color:black;
  font-size: 40px;
  font-weight: bold;
  margin:50px;
}
